In [9]:
import pandas as pd
# read data
df = pd.read_csv("stage3.csv")

### Gun incidents per year

In [16]:
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['year'].value_counts()

# not many incidents from 2013 were recorded (incomplete data) -> removed from set

2017    61401
2016    58763
2015    53579
2014    51854
2018    13802
Name: year, dtype: int64

### Gun incidents per month (per year)

In [17]:
# for each year, counts number of incidents per year
df['month'] = df['date'].dt.month
df.groupby(['year', 'month']).size()

year  month
2014  1        4395
      2        3045
      3        3669
      4        3891
      5        4320
      6        4440
      7        5219
      8        5259
      9        5052
      10       4915
      11       3795
      12       3854
2015  1        3907
      2        3108
      3        4314
      4        4471
      5        5015
      6        4596
      7        5076
      8        5024
      9        4849
      10       4502
      11       4262
      12       4455
2016  1        4590
      2        3967
      3        4892
      4        4672
      5        4902
      6        4530
      7        5250
      8        5527
      9        4937
      10       5251
      11       5092
      12       5153
2017  1        5258
      2        4585
      3        4994
      4        5577
      5        5666
      6        5158
      7        5547
      8        5202
      9        4790
      10       5200
      11       4802
      12       4622
2018  1        4926
      2        4124
      3        4752
dtype: int64

### Incidents per state

In [18]:
df.groupby(['year', 'state']).size()

year  state
2014  Alabama                 1318
      Alaska                   146
      Arizona                  556
      Arkansas                 572
      California              3732
      Colorado                 556
      Connecticut              583
      Delaware                 493
      District of Columbia     838
      Florida                 3138
      Georgia                 2032
      Hawaii                    48
      Idaho                    115
      Illinois                3095
      Indiana                 1203
      Iowa                     569
      Kansas                   381
      Kentucky                 977
      Louisiana               1906
      Maine                    183
      Maryland                1266
      Massachusetts            968
      Michigan                1447
      Minnesota                450
      Mississippi              784
      Missouri                1272
      Montana                  128
      Nebraska                 347
      Nevada                   376
      New Hampshire            230
                              ...
2018  Massachusetts            370
      Michigan                 731
      Minnesota                319
      Mississippi              271
      Missouri                 365
      Montana                   41
      Nebraska                 109
      Nevada                   111
      New Hampshire             47
      New Jersey               224
      New Mexico                81
      New York                 337
      North Carolina           464
      North Dakota              31
      Ohio                     591
      Oklahoma                 203
      Oregon                   139
      Pennsylvania             496
      Rhode Island              50
      South Carolina           367
      South Dakota              26
      Tennessee                375
      Texas                    676
      Utah                      56
      Vermont                   20
      Virginia                 293
      Washington               200
      West Virginia             80
      Wisconsin                376
      Wyoming                   14
Length: 255, dtype: int64

In [19]:
df.groupby(['state']).size()

state
Alabama                  5469
Alaska                   1349
Arizona                  2323
Arkansas                 2842
California              16267
Colorado                 3198
Connecticut              3064
Delaware                 1682
District of Columbia     3189
Florida                 15016
Georgia                  8919
Hawaii                    289
Idaho                     661
Illinois                17538
Indiana                  5845
Iowa                     2517
Kansas                   2141
Kentucky                 4154
Louisiana                8094
Maine                     907
Maryland                 5793
Massachusetts            5981
Michigan                 6122
Minnesota                2406
Mississippi              3597
Missouri                 6621
Montana                   638
Nebraska                 1650
Nevada                   1951
New Hampshire             964
New Jersey               5373
New Mexico               1643
New York                 9696
North Carolina           8727
North Dakota              573
Ohio                    10234
Oklahoma                 3449
Oregon                   2286
Pennsylvania             8909
Rhode Island              893
South Carolina           6934
South Dakota              544
Tennessee                7616
Texas                   13566
Utah                     1071
Vermont                   472
Virginia                 5943
Washington               3430
West Virginia            1573
Wisconsin                4786
Wyoming                   494
dtype: int64

### Fun

In [27]:
from bokeh.plotting import figure
from bokeh.io import output_file, show, save
import pandas as pd

In [11]:
ownership_df = pd.read_csv("gunownership.csv")

In [25]:
incidents = df.groupby(['state']).size()
incidents = [incident for incident in incidents]
ownership_df['incidents'] = incidents
ownership_df

                   state  guns_registered  guns_per_capita  incidents
0                Alabama           161641           33.150       5469
1                 Alaska            15824           21.380       1349
2                Arizona           179738           25.610       2323
3               Arkansas            79841           26.570       2842
4             California           344622            8.710      16267
5               Colorado            92435           16.480       3198
6            Connecticut            82400           22.960       3064
7               Delaware             4852            5.040       1682
8   District of Columbia            47228           68.050       3189
9                Florida           343288           16.350      15016
10               Georgia           190050           18.220       8919
11                Hawaii             7859            5.500        289
12                 Idaho            49566           28.860        661
13              Illinois           146487           11.440      17538
14               Indiana           114019           17.100       5845
15                  Iowa            28494            9.050       2517
16                Kansas            52634           18.060       2141
17              Kentucky            81068           18.200       4154
18             Louisiana           116831           24.940       8094
19                 Maine            15371           11.500        907
20              Maryland           103109           17.030       5793
21         Massachusetts            37152            5.410       5981
22              Michigan            65742            6.590       6122
23             Minnesota            79307           14.220       2406
24           Mississippi            35494           11.890       3597
25              Missouri            72996           11.940       6621
26               Montana            22133           21.060        638
27              Nebraska            22234           11.570       1650
28                Nevada            76888           25.640       1951
29         New Hampshire            64135           46.760        964
30            New Jersey            57507            6.380       5373
31            New Mexico            97580           46.730       1643
32              New York            76207            3.830       9696
33        North Carolina           152238           14.818       8727
34          North Dakota            13272           17.560        573
35                  Ohio           173405           14.870      10234
36              Oklahoma            71269           18.130       3449
37                Oregon            61383           14.816       2286
38          Pennsylvania           236377           18.450       8909
39          Rhode Island            37152            3.980        893
40        South Carolina           105601           21.010       6934
41          South Dakota            21130           24.290        544
42             Tennessee            99159           14.760       7616
43                 Texas           588696           20.790      13566
44                  Utah            72856           23.480       1071
45               Vermont             5872            9.410        472
46              Virginia           307822           36.340       5943
47            Washington            91835           12.400       3430
48         West Virginia            35264           19.420       1573
49             Wisconsin            64878           11.190       4786
50               Wyoming           132806          229.240        494