In [1]:
import pandas as pd
# read data
df = pd.read_csv("stage3.csv")

### Number of gun incidents per year

In [2]:
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['year'].value_counts()

# not many incidents from 2013 were recorded (incomplete data) -> removed from set

2017    61401
2016    58763
2015    53579
2014    51854
2018    13802
Name: year, dtype: int64

### Number of gun incidents per month (per year)

In [21]:
df['month'] = df['date'].dt.month
df.groupby(['year', 'month']).size()

year  month
2014  1        4395
      2        3045
      3        3669
      4        3891
      5        4320
      6        4440
      7        5219
      8        5259
      9        5052
      10       4915
      11       3795
      12       3854
2015  1        3907
      2        3108
      3        4314
      4        4471
      5        5015
      6        4596
      7        5076
      8        5024
      9        4849
      10       4502
      11       4262
      12       4455
2016  1        4590
      2        3967
      3        4892
      4        4672
      5        4902
      6        4530
      7        5250
      8        5527
      9        4937
      10       5251
      11       5092
      12       5153
2017  1        5258
      2        4585
      3        4994
      4        5577
      5        5666
      6        5158
      7        5547
      8        5202
      9        4790
      10       5200
      11       4802
      12       4622
2018  1        4926
      2        4124
      3        4752
dtype: int64