In [1]:
import pandas as pd
# read data
df = pd.read_csv("stage3.csv")

### Gun incidents per year

In [3]:
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['year'].value_counts()


# not many incidents from 2013 were recorded (incomplete data) -> removed from set

2017    61401
2016    58763
2015    53579
2014    51854
2018    13802
Name: year, dtype: int64

### Gun incidents per month (per year)

In [3]:
# for each year, counts number of incidents per year
df['month'] = df['date'].dt.month
df.groupby(['year', 'month']).size()

year  month
2014  1        4395
      2        3045
      3        3669
      4        3891
      5        4320
      6        4440
      7        5219
      8        5259
      9        5052
      10       4915
      11       3795
      12       3854
2015  1        3907
      2        3108
      3        4314
      4        4471
      5        5015
      6        4596
      7        5076
      8        5024
      9        4849
      10       4502
      11       4262
      12       4455
2016  1        4590
      2        3967
      3        4892
      4        4672
      5        4902
      6        4530
      7        5250
      8        5527
      9        4937
      10       5251
      11       5092
      12       5153
2017  1        5258
      2        4585
      3        4994
      4        5577
      5        5666
      6        5158
      7        5547
      8        5202
      9        4790
      10       5200
      11       4802
      12       4622
2018  1        4926
      2        4124
      3        4752
dtype: int64

### Incidents per state

In [4]:
df.groupby(['year', 'state']).size()

year  state
2014  Alabama                 1318
      Alaska                   146
      Arizona                  556
      Arkansas                 572
      California              3732
      Colorado                 556
      Connecticut              583
      Delaware                 493
      District of Columbia     838
      Florida                 3138
      Georgia                 2032
      Hawaii                    48
      Idaho                    115
      Illinois                3095
      Indiana                 1203
      Iowa                     569
      Kansas                   381
      Kentucky                 977
      Louisiana               1906
      Maine                    183
      Maryland                1266
      Massachusetts            968
      Michigan                1447
      Minnesota                450
      Mississippi              784
      Missouri                1272
      Montana                  128
      Nebraska                 347
      Nevada                   376
      New Hampshire            230
                              ...
2018  Massachusetts            370
      Michigan                 731
      Minnesota                319
      Mississippi              271
      Missouri                 365
      Montana                   41
      Nebraska                 109
      Nevada                   111
      New Hampshire             47
      New Jersey               224
      New Mexico                81
      New York                 337
      North Carolina           464
      North Dakota              31
      Ohio                     591
      Oklahoma                 203
      Oregon                   139
      Pennsylvania             496
      Rhode Island              50
      South Carolina           367
      South Dakota              26
      Tennessee                375
      Texas                    676
      Utah                      56
      Vermont                   20
      Virginia                 293
      Washington               200
      West Virginia             80
      Wisconsin                376
      Wyoming                   14
Length: 255, dtype: int64

In [7]:
df.groupby(['state']).size()

state
Alabama                  5469
Alaska                   1349
Arizona                  2323
Arkansas                 2842
California              16267
Colorado                 3198
Connecticut              3064
Delaware                 1682
District of Columbia     3189
Florida                 15016
Georgia                  8919
Hawaii                    289
Idaho                     661
Illinois                17538
Indiana                  5845
Iowa                     2517
Kansas                   2141
Kentucky                 4154
Louisiana                8094
Maine                     907
Maryland                 5793
Massachusetts            5981
Michigan                 6122
Minnesota                2406
Mississippi              3597
Missouri                 6621
Montana                   638
Nebraska                 1650
Nevada                   1951
New Hampshire             964
New Jersey               5373
New Mexico               1643
New York                 9696
North Carolina           8727
North Dakota              573
Ohio                    10234
Oklahoma                 3449
Oregon                   2286
Pennsylvania             8909
Rhode Island              893
South Carolina           6934
South Dakota              544
Tennessee                7616
Texas                   13566
Utah                     1071
Vermont                   472
Virginia                 5943
Washington               3430
West Virginia            1573
Wisconsin                4786
Wyoming                   494
dtype: int64

### Fun

In [2]:
from bokeh.plotting import figure
from bokeh.io import output_file, show
import pandas

In [ ]:
ownership_data = pd.read_csv("gunownership.csv")