In [1]:
import pandas as pd
# read data
df = pd.read_csv("stage3.csv")

### Gun incidents per year

In [2]:
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['year'].value_counts()

# not many incidents from 2013 were recorded (incomplete data) -> removed from set

2017    61401
2016    58763
2015    53579
2014    51854
2018    13802
Name: year, dtype: int64

### Gun incidents per month (per year)

In [3]:
# for each year, counts number of incidents per year
df['month'] = df['date'].dt.month
df.groupby(['year', 'month']).size()

year  month
2014  1        4395
      2        3045
      3        3669
      4        3891
      5        4320
      6        4440
      7        5219
      8        5259
      9        5052
      10       4915
      11       3795
      12       3854
2015  1        3907
      2        3108
      3        4314
      4        4471
      5        5015
      6        4596
      7        5076
      8        5024
      9        4849
      10       4502
      11       4262
      12       4455
2016  1        4590
      2        3967
      3        4892
      4        4672
      5        4902
      6        4530
      7        5250
      8        5527
      9        4937
      10       5251
      11       5092
      12       5153
2017  1        5258
      2        4585
      3        4994
      4        5577
      5        5666
      6        5158
      7        5547
      8        5202
      9        4790
      10       5200
      11       4802
      12       4622
2018  1        4926
      2        4124
      3        4752
dtype: int64

### Incidents per state

In [35]:
year_per_state = df.groupby(['year', 'state']).size()

In [5]:
df.groupby(['state']).size()

state
Alabama                  5469
Alaska                   1349
Arizona                  2323
Arkansas                 2842
California              16267
Colorado                 3198
Connecticut              3064
Delaware                 1682
District of Columbia     3189
Florida                 15016
Georgia                  8919
Hawaii                    289
Idaho                     661
Illinois                17538
Indiana                  5845
Iowa                     2517
Kansas                   2141
Kentucky                 4154
Louisiana                8094
Maine                     907
Maryland                 5793
Massachusetts            5981
Michigan                 6122
Minnesota                2406
Mississippi              3597
Missouri                 6621
Montana                   638
Nebraska                 1650
Nevada                   1951
New Hampshire             964
New Jersey               5373
New Mexico               1643
New York                 9696
North Carolina           8727
North Dakota              573
Ohio                    10234
Oklahoma                 3449
Oregon                   2286
Pennsylvania             8909
Rhode Island              893
South Carolina           6934
South Dakota              544
Tennessee                7616
Texas                   13566
Utah                     1071
Vermont                   472
Virginia                 5943
Washington               3430
West Virginia            1573
Wisconsin                4786
Wyoming                   494
dtype: int64

### Fun

In [6]:
# import stuff
from bokeh.plotting import figure
from bokeh.io import output_file, show, save
from bokeh.models import DataRange1d
import pandas as pd

In [7]:
# read file with data of number of registered guns per state
ownership_df = pd.read_csv("gunownership.csv")

In [8]:
# add number of incidents per state
incidents = df.groupby(['state']).size()
incidents = [incident for incident in incidents]
ownership_df['incidents'] = incidents

In [9]:
#Define the output file path
output_file("ownership-and-incidents.html")

#Create the figure object
# f = figure(plot_width=1000, plot_height=1000)
f.x_range=DataRange1d(start=0, end=350000)
f.y_range=DataRange1d(start=0, end=20000)

## Add a Title to the plot (We essentially use css properties here)
# You can find all function of f.title, using dir(f.title)
f.title.text="Guns Registered per State"
f.title.text_font_size="25px"
f.title.align="center"

## Add some axis information (after all, a plot without axis descriptions is nothing more than abstract art)
f.xaxis.axis_label="Number of Registered Guns"
f.yaxis.axis_label="Number of Incidents"

# Maybe add some different colors for the labels and the digits as well
# Note how we use f.axis, to apply to both the x and y axis.
f.axis.axis_label_text_color="blue"
f.axis.major_label_text_color="red"

#adding glyphs
f.circle(x=ownership_df['guns_registered'], y=ownership_df['incidents'])

#Save and show the figure
save(f)

NameError: name 'f' is not defined

In [ ]:
#Define the output file path
output_file("ownership-per-capita-and-incidents.html")

#Create the figure object
f2 = figure(plot_width=1000, plot_height=1000)

f2.x_range=DataRange1d(start=0, end=250)
f2.y_range=DataRange1d(start=0, end=20000)

## Add a Title to the plot (We essentially use css properties here)
# You can find all function of f.title, using dir(f.title)
f2.title.text="Guns Registered per State"
f2.title.text_font_size="25px"
f2.title.align="center"

## Add some axis information (after all, a plot without axis descriptions is nothing more than abstract art)
f2.xaxis.axis_label="Guns per Capita"
f2.yaxis.axis_label="Incidents"

# Maybe add some different colors for the labels and the digits as well
# Note how we use f.axis, to apply to both the x and y axis.
f2.axis.axis_label_text_color="blue"
f2.axis.major_label_text_color="red"

#adding glyphs
f2.circle(x=ownership_df['guns_per_capita'], y=ownership_df['incidents'])

#Save and show the figure
save(f2)

### I want to plot incidents per year

In [34]:
ownership_df['2014'] = [number for number in year_per_state[:51]]
ownership_df['2015'] = [number for number in year_per_state[51:102]]
ownership_df['2016'] = [number for number in year_per_state[102:153]]
ownership_df['2017'] = [number for number in year_per_state[153:204]]
ownership_df['2018'] = [number for number in year_per_state[204:]]

,state,guns_registered,guns_per_capita,incidents,2014,2015,2016,2017,2018
0,Alabama,161641,33.150,5469,1318,1034,1309,1461,347
1,Alaska,15824,21.380,1349,146,380,445,317,61
2,Arizona,179738,25.610,2323,556,480,554,587,146
3,Arkansas,79841,26.570,2842,572,538,720,820,192
4,California,344622,8.710,16267,3732,3234,3617,4588,1096
5,Colorado,92435,16.480,3198,556,788,812,809,233
6,Connecticut,82400,22.960,3064,583,737,803,780,161
7,Delaware,4852,5.040,1682,493,366,328,389,106
8,District of Columbia,47228,68.050,3189,838,538,497,1142,174
9,Florida,343288,16.350,15016,3138,2702,4201,4156,819
10,Georgia,190050,18.220,8919,2032,2767,1708,1994,418
11,Hawaii,7859,5.500,289,48,75,79,68,19
12,Idaho,49566,28.860,661,115,177,155,163,51
13,Illinois,146487,11.440,17538,3095,3456,5055,5089,843
14,Indiana,114019,17.100,5845,1203,1320,1511,1483,328
15,Iowa,28494,9.050,2517,569,587,659,586,116
16,Kansas,52634,18.060,2141,381,461,572,578,149
17,Kentucky,81068,18.200,4154,977,914,1021,1030,212
18,Louisiana,116831,24.940,8094,1906,1692,2070,1987,439
19,Maine,15371,11.500,907,183,231,232,203,58
20,Maryland,103109,17.030,5793,1266,1284,1293,1579,371
21,Massachusetts,37152,5.410,5981,968,1338,1544,1761,370
22,Michigan,65742,6.590,6122,1447,1268,1316,1360,731
23,Minnesota,79307,14.220,2406,450,410,468,759,319
24,Mississippi,35494,11.890,3597,784,661,852,1029,271
25,Missouri,72996,11.940,6621,1272,1702,1552,1730,365
26,Montana,22133,21.060,638,128,140,162,167,41
27,Nebraska,22234,11.570,1650,347,374,381,439,109
28,Nevada,76888,25.640,1951,376,491,536,437,111
29,New Hampshire,64135,46.760,964,230,209,272,206,47
30,New Jersey,57507,6.380,5373,1521,1062,1224,1342,224
31,New Mexico,97580,46.730,1643,320,395,399,448,81
32,New York,76207,3.830,9696,1903,2903,2522,2031,337
33,North Carolina,152238,14.818,8727,2165,1856,2101,2141,464
34,North Dakota,13272,17.560,573,110,149,150,133,31
35,Ohio,173405,14.870,10234,2368,2132,2442,2701,591
36,Oklahoma,71269,18.130,3449,642,840,898,866,203
37,Oregon,61383,14.816,2286,398,686,552,511,139
38,Pennsylvania,236377,18.450,8909,2267,1789,2185,2172,496
39,Rhode Island,37152,3.980,893,189,226,237,191,50
40,South Carolina,105601,21.010,6934,1660,1696,1490,1721,367
41,South Dakota,21130,24.290,544,72,103,144,199,26
42,Tennessee,99159,14.760,7616,1590,1763,2014,1874,375
43,Texas,588696,20.790,13566,3133,3276,3606,2875,676
44,Utah,72856,23.480,1071,217,324,250,224,56
45,Vermont,5872,9.410,472,170,117,94,71,20
46,Virginia,307822,36.340,5943,1273,1326,1578,1473,293
47,Washington,91835,12.400,3430,656,925,768,881,200
48,West Virginia,35264,19.420,1573,362,342,399,390,80
49,Wisconsin,64878,11.190,4786,1065,1117,859,1369,376
50,Wyoming,132806,229.240,494,64,198,127,91,14